@font-face
{
    font-family: 'Quicksand';
    src: url('../RESSOURCES/polices/Quicksand-Regular.otf');

    font-style: normal;
}

@font-face 
{
    font-family: 'open_sansregular';
    src: url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../RESSOURCES/polices/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Orkney';
    src: url('../../RESSOURCES/polices/Orkney/Orkney-Regular.eot');
    src: url('../../RESSOURCES/polices/Orkney/Orkney-Regular.eot') format('embedded-opentype'),
         url('../../RESSOURCES/polices/Orkney/Orkney-Regular.woff2') format('woff2'),
         url('../../RESSOURCES/polices/Orkney/Orkney-Regular.woff') format('woff'),
         url('../../RESSOURCES/polices/Orkney/Orkney-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* PAGE */

body 
{
    margin: 0px;
    background: #cc5200;
}

html
{
    padding: 0;
    margin: 0;
}



#blocPage
{
    width: 1400px;
    margin : auto;
    display: flex;
    flex-direction: column;
    border-left: 1px #cc5200 solid;
    border-right: 1px #cc5200 solid;
    background: white;
}

/* PAGE */


/* HEADER */

@media only screen and (max-width: 720px) {
    header {
        position: absolute;
    }
}

#Vidéos
{
    border-bottom: 1px solid white;
    border-width: 3px;

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}

#Propos
{
    margin-right: 70px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}

/* Onglet "SUIVEZ NOUS" */

#Follow
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 10px;
}

#icons img
{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 8px;
}


/* Onglet "SUIVEZ NOUS" */

header h1
{
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 1.6em;
    width: 260px;
    font-weight: bold;
    text-align: center;
}


header
{
    display: flex;
    background: #FF9048;
    position: fixed;
    width: 1400px;
    height: 80px;
    font-family:"Quicksand", arial, sans-sérif;
}

header ul
{
    display: flex;
    align-content: center;
    font-size: 1.3em;
    margin-top: 28px;
    margin-left: 390px;
}

header ul li
{
    list-style: none;
    height: 25px;
    max-height: 25px;
}

#Vidéos:hover
{
    border-bottom: 1px solid white;
    border-width: 3px;

}

#Propos:hover
{
    border-bottom: 1px solid white;
    border-width: 3px;

}


#logoBaf
{
    background-image: url("../../RESSOURCES/images/baf_logo.png");
	height: 74px;
    width: 74px;
    border: 1px solid #FF9048;
}

/* HEADER */


/* SECTION */
section h2
{
    margin-top: 150px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Orkney';
}

section
{
    height: 1200px;
}


/* SECTION */